<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      Macros: {
        N: "{\\mathbb{N}}",
        Z: "{\\mathbb{Z}}",
        R: "{\\mathbb{R}}",
        Q: "{\\mathbb{Q}}"
      }
    }
  });
  </script>
  <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Lora:400,700">
  <link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Noto+Sans">
</head>

<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
